//Colors
$bg_color: #f8f8f8;
$main_color: #fff;
$p_color: #3f3f3f;
$p_color3:rgb(205, 205, 205);
$black: rgb(54, 53, 53);
$cost: rgb(251, 59, 59);

//Sizes
$margin-x:10px;
$margin-2x:$margin-x*2;
$margin-3x:$margin-x*3;
$margin-4x:$margin-x*4;
$margin-5x:$margin-x*5;
$margin-6x:$margin-x*6;
$margin-7x:$margin-x*7;
$margin-8x:$margin-x*8;
$margin-15x:$margin-x*15;


$faiz-x:5%;
$faiz-2x: $faiz-x*2;
$faiz-3x: $faiz-x*3;
$faiz-4x: $faiz-x*4;
$faiz-5x: $faiz-x*5;
